{{ define "head" }}

<!-- Chroma Github theme CSS -->
<link rel="stylesheet" href="{{ "css/github_chroma.css" | relURL }}" type="text/css" />
{{ end }}

{{ define "main" }}

<div class="post">
    <h1 class="post-title">{{ .Title }}</h1>
    {{ with .GitInfo }} <!-- To enable this, put "enableGitInfo = true" in your site config.toml -->
        This page was created/modified in commit <a href="{{ $.Site.Params.source.url }}/commit/{{- .Hash -}}">
        {{- .AbbreviatedHash -}}</a> "{{ .Subject }}" on <b>{{ dateFormat "2006-01-02" .AuthorDate }}</b>.
    {{ end }}
    <div>
        <br/>
        <span style="float: right;">✱ <i>Markdown <a href="{{ $.Site.Params.source.url }}/raw/master/{{ $.Site.Params.source.md_dir }}/{{ .File.Path }}">source</a> of this page</i></span>
        <br/>
    </div>
    <p>
        {{ if .Params.categories }}
            Categories:
            {{ range .Params.categories }}
                <a href="/categories/{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        {{ end }}
    </p>
    <p>
        {{ if .Params.tags }}
            Tags:
            {{ range .Params.tags }}
                <a href="/tags/{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        {{ end }}
    </p>
    <p>
        {{ if .Params.draft }}
            <hr>
            <div style="text-align: center;"><h2>This is a Draft</h2></div>
            <hr>
        {{ end }}
    </p>
    {{ with .Description }}
        <hr>
        {{ . | markdownify }}
        <hr>
    {{ end }}

    {{ with .Params.foo }}
        Hour: {{ partial "debugprint.html" .Hour }}

        Minute: {{ partial "debugprint.html" .Minute }}
    {{ end }}

    {{ .Content }}

    {{ if (not .Params.disable_debug) }}
        {{ with .Resources }}
            <hr>
            <h3>Resources</h3>
            <ul>
	        {{ range . }}
	            {{ if .RelPermalink }}
	                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
	            {{ else }}
	                <li>{{ .ResourceType | title }} (no link, only embedded in page)</li>
	            {{ end }}
	        {{ end }}
            </ul>
        {{ end }}

        {{ with .Resources.ByType "page" }}
            <hr>
            <h3 id="sub-pages">Bundled Sub-pages</h3>
            {{ range . }}
                <h4>{{ .Title }}</h4>
                {{ .Content }}
            {{ end }}
        {{ end }}

        <hr>
        <a id="debug"></a>
        <h3 id="page-debug">Page (Debug)</h3>
        {{ partial "debugprint.html" . }}
        <h3 id="page-params-debug">Page Params (Debug)</h3>
        {{ partial "debugprint.html" .Params }}
        {{ with .Resources }}
            <h3 id="resource-debug">Resources (Debug)</h3>
            {{ partial "debugprint.html" . }}
        {{ end }}
        <h3 id="file-debug">File Object (Debug)</h3>
        {{ partial "debugprint.html" .File }}
    {{ end }}
</div>

{{ end }}
