{{ define "head" }}

{{ partial "mathjax.html" }}

<!-- Chroma Github theme CSS -->
<link rel="stylesheet" href="{{ "css/github_chroma.css" | relURL }}" type="text/css" />
{{ end }}

{{ define "main" }}

<div class="post">
    <h1 class="post-title">{{ .Title }}</h1>

    <!-- Taxonomy debug -->
    {{ $page := . }}
    {{ with .Site.Taxonomies }}
        {{ range $key,$_ := . }}
            {{ with $page.Param $key }}
                {{ $val := . }}
                <p>
                    {{ printf "<span style=\"font-variant: small-caps;\">%s</span>:" $key | safeHTML }}
                    {{ with $.Site.GetPage "taxonomyTerm" $key }}
                        {{ $taxonomy_page := . }}
                        {{ range $val }}
                            <a href="{{ printf "%s%s" $taxonomy_page.Permalink (. | urlize) }}">{{ . }}</a>
                        {{ end }}
                    {{ end }}
                </p>
            {{ end }}
        {{ end }}
    {{ end }}

    {{ $layout_file := (printf "%s.html" .Layout) }}
    Layout file:
    <a href="{{ .Site.Params.source.url }}/tree/master/layouts/{{ .Type }}/{{ $layout_file }}">
        <code>{{ $layout_file }}</code>
    </a>

    <h3>Content</h3>
    {{ .Content }}

    <style>
     table.sane-table {
         border-collapse: collapse;
         width: 100%;
     }
     .sane-table th,
     .sane-table td {
         padding: 0.25rem;
         text-align: left;
         border: 1px solid #ccc;
     }
    </style>

    <h3>Accessing Params from this page</h3>

    <table class="sane-table">
        <tr>
            <th>Key</th>
            <th><code>.Params.foobar</code></th>
            <th><code>.Params.FooBar</code></th>
            <th><code>.Params.fooBar</code></th>
            <th><code>.Params.foo_bar</code></th>
        </tr>
        <tr>
            <td><strong><code>lowercase</code></strong></td>
            <td>{{ .Params.lowercase }}</td>
            <td>{{ .Params.LowerCase }}</td>
            <td>{{ .Params.lowerCase }}</td>
            <td>{{ .Params.lower_case }}</td>
        </tr>
        <tr>
            <td><strong><code>UpperCamelCase</code></strong></td>
            <td>{{ .Params.uppercamelcase }}</td>
            <td>{{ .Params.UpperCamelCase }}</td>
            <td>{{ .Params.upperCamelCase }}</td>
            <td>{{ .Params.upper_camel_case }}</td>
        </tr>
        <tr>
            <td><strong><code>lowerCamelCase</code></strong></td>
            <td>{{ .Params.lowercamelcase }}</td>
            <td>{{ .Params.LowerCamelCase }}</td>
            <td>{{ .Params.lowerCamelCase }}</td>
            <td>{{ .Params.lower_camel_case }}</td>
        </tr>
        <tr>
            <td><strong><code>snake_case</code></strong></td>
            <td>{{ .Params.snakecase }}</td>
            <td>{{ .Params.SnakeCase }}</td>
            <td>{{ .Params.snakeCase }}</td>
            <td>{{ .Params.snake_case }}</td>
        </tr>
    </table>

    {{ $headless := .Site.GetPage "page" "casing-of-front-matter-keys-headless-leaf-bundle" }}

    {{ with $headless.File.Path }}
        <br />
        <div style="float: right;">
            ✱ <i>Markdown <a href="{{ $.Site.Params.source.url }}/raw/master/{{ $.Site.Params.source.md_dir }}/{{ . }}">
            source</a> of the Headless bundle Index page</i>
        </div>
        <div style="clear: both;"></div> <!-- Clear floats -->
    {{ end }}

    {{ with $headless }}
        <h3>Accessing Params from Headless Index page (inside "with")</h3>

        <table class="sane-table">
            <tr>
                <th>Key</th>
                <th><code>.Params.foobar</code> (in <code>with</code>)</th>
                <th><code>.Params.FooBar</code> (in <code>with</code>)</th>
                <th><code>.Params.fooBar</code> (in <code>with</code>)</th>
                <th><code>.Params.foo_bar</code> (in <code>with</code>)</th>
            </tr>
            <tr>
                <td><strong><code>lowercase</code></strong></td>
                <td>{{ .Params.lowercase }}</td>
                <td>{{ .Params.LowerCase }}</td>
                <td>{{ .Params.lowerCase }}</td>
                <td>{{ .Params.lower_case }}</td>
            </tr>
            <tr>
                <td><strong><code>UpperCamelCase</code></strong></td>
                <td>{{ .Params.uppercamelcase }}</td>
                <td>{{ .Params.UpperCamelCase }}</td>
                <td>{{ .Params.upperCamelCase }}</td>
                <td>{{ .Params.upper_camel_case }}</td>
            </tr>
            <tr>
                <td><strong><code>lowerCamelCase</code></strong></td>
                <td>{{ .Params.lowercamelcase }}</td>
                <td>{{ .Params.LowerCamelCase }}</td>
                <td>{{ .Params.lowerCamelCase }}</td>
                <td>{{ .Params.lower_camel_case }}</td>
            </tr>
            <tr>
                <td><strong><code>snake_case</code></strong></td>
                <td>{{ .Params.snakecase }}</td>
                <td>{{ .Params.SnakeCase }}</td>
                <td>{{ .Params.snakeCase }}</td>
                <td>{{ .Params.snake_case }}</td>
            </tr>
        </table>
    {{ end }}

    <h3>Accessing Params from Headless Index page (directly)</h3>

    <table class="sane-table">
        <tr>
            <th>Key</th>
            <th><code>$headless.Params.foobar</code></th>
            <th><code>$headless.Params.FooBar</code></th>
            <th><code>$headless.Params.fooBar</code></th>
            <th><code>$headless.Params.foo_bar</code></th>
        </tr>
        <tr>
            <td><strong><code>lowercase</code></strong></td>
            <td>{{ $headless.Params.lowercase }}</td>
            <td>{{ $headless.Params.LowerCase }}</td>
            <td>{{ $headless.Params.lowerCase }}</td>
            <td>{{ $headless.Params.lower_case }}</td>
        </tr>
        <tr>
            <td><strong><code>UpperCamelCase</code></strong></td>
            <td>{{ $headless.Params.uppercamelcase }}</td>
            <td>{{ $headless.Params.UpperCamelCase }}</td>
            <td>{{ $headless.Params.upperCamelCase }}</td>
            <td>{{ $headless.Params.upper_camel_case }}</td>
        </tr>
        <tr>
            <td><strong><code>lowerCamelCase</code></strong></td>
            <td>{{ $headless.Params.lowercamelcase }}</td>
            <td>{{ $headless.Params.LowerCamelCase }}</td>
            <td>{{ $headless.Params.lowerCamelCase }}</td>
            <td>{{ $headless.Params.lower_camel_case }}</td>
        </tr>
        <tr>
            <td><strong><code>snake_case</code></strong></td>
            <td>{{ $headless.Params.snakecase }}</td>
            <td>{{ $headless.Params.SnakeCase }}</td>
            <td>{{ $headless.Params.snakeCase }}</td>
            <td>{{ $headless.Params.snake_case }}</td>
        </tr>
    </table>

    {{ if (not .Params.disable_debug) }}
        <a id="debug"></a>

        {{ with $headless }}
            <h3 id="headless-bundle-index-page-debug">Headless Bundle Index Page (Debug)</h3>
            {{ partial "debugprint.html" . }}
            <h3 id="headless-bundle-index-page-file-debug">Headless Bundle Index Page File Object (Debug)</h3>
            {{ partial "debugprint.html" .File }}
            <hr />
        {{ end }}

        <h3 id="page-debug">Page (Debug)</h3>
        {{ partial "debugprint.html" . }}
        <h3 id="page-params-debug">Page Params (Debug)</h3>
        {{ partial "debugprint.html" .Params }}
        {{ with .Resources }}
            <h3 id="resource-debug">Resources (Debug)</h3>
            {{ partial "debugprint.html" . }}
        {{ end }}
        <h3 id="file-debug">File Object (Debug)</h3>
        {{ partial "debugprint.html" .File }}
    {{ end }}
</div>

{{ end }}
