{{ define "head" }}

<!-- Chroma Github theme CSS -->
<link rel="stylesheet" href="{{ "css/github_chroma.css" | relURL }}" type="text/css" />
{{ end }}

{{ define "main" }}

<div class="post">
    <h1 class="post-title">{{ .Title }}</h1>

    <!-- Taxonomy debug -->
    {{ $page := . }}
    {{ with .Site.Taxonomies }}
        {{ range $key,$_ := . }}
            {{ with $page.Param $key }}
                {{ $val := . }}
                <p>
                    {{ printf `<span style="font-variant: small-caps;">%s</span>:` $key | safeHTML }}
                    {{ with $.Site.GetPage "taxonomyTerm" $key }}
                        {{ $taxonomy_page := . }}
                        {{ range $val }}
                            <a href="{{ printf "%s%s" $taxonomy_page.Permalink (. | urlize) }}">{{ . }}</a>
                        {{ end }}
                    {{ end }}
                </p>
            {{ end }}
        {{ end }}
    {{ end }}

    <p>
        {{ if .Params.draft }}
            <hr />
            <div style="text-align: center;"><h2>This is a Draft</h2></div>
            <hr />
        {{ end }}
    </p>

    <hr />
    <h3>Description/Summary</h3>
    {{ with .Description }}
        {{ . | markdownify }}
    {{ else }}
        {{ partial "summary_minus_toc.html" . | safeHTML }}
    {{ end }}
    <hr />

    {{ partial "header_image.html" . }}

    <h3>Content</h3>
    {{ .Content }}

    {{ with .Params.audio }}
        <!-- https://www.w3schools.com/jsref/met_audio_pause.asp -->
        <audio id="myAudio">
            <source src="{{ . }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>

        <p>Click the buttons to play or pause the audio.</p>

        <button onclick="playAudio()" type="button">Play Audio</button>
        <button onclick="pauseAudio()" type="button">Pause Audio</button>

        <script>
         var x = document.getElementById("myAudio");

         function playAudio() {
             x.play();
         }

         function pauseAudio() {
             x.pause();
         }
        </script>
    {{ end }}

</div>

{{ end }}
